<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @RenderBody()
    <div class="footer-section">
        <div class="container">
            <div class="social-icons">
                <a href="https://www.facebook.com/Government-Post-Graduate-College-Samundri-232363946796408/?fref=ts"><i class="icon1"></i></a>
                <a href="#"><i class="icon2"></i></a>
                <a href="#"><i class="icon3"></i></a>
                <a href="#"><i class="icon4"></i></a>
            </div>
            <div class="footer-top">
                <p>&copy; 2016 PUCIT. All rights reserved | Design by <a href="https://www.pucit.edu.pk">PUCIT</a></p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
